.bck-fon {
    width: 1510px;
    height: 700px;
    background-image: url(/img/bck\ fon.png);
    margin-top: 100px;
    display: flex
}

.sec-f img {
    width: 230px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.sec-f {
    width: 300px;
    height: 480px;
    background-color: white;
    margin-left: 20px;
    margin-top: 100px;
}

.sec-f h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.sec-f p {
    margin-left: 10px;
    color: rgb(162, 162, 162);
}

.sec-f span {
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.sec-f img {
    width: 230px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.sec-tw {
    width: 300px;
    height: 480px;
    background-color: white;
    margin-left: 520px;
    margin-top: 100px;
}

.sec-tw h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.sec-tw p {
    margin-left: 10px;
    color: rgb(162, 162, 162);
}

.sec-tw span {
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.sec-th img {
    width: 230px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.sec-th {
    width: 300px;
    height: 480px;
    background-color: white;
    margin-left: 20px;
    margin-top: 100px;
}

.sec-th h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.sec-th p {
    margin-left: 10px;
    color: rgb(162, 162, 162);
}

.sec-th span {
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.news h3 {
    color: #fff;
    margin-left: 130px;
    margin-top: -650px;
    font-size: 48px;
    letter-spacing: 5px;
}

.news p {
    color: rgb(73, 71, 71);
    padding-top: 50px;
    font-size: 18px;
    margin-left: 130px;
}

.news span {
    color: orange;
    margin-left: 130px;
   position: relative;
   top: 100px;
   font-size: 32px;
}