.left button {
    width: 180px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-top: 80px;
}

.sec-one button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}

.sec-tw button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}

.sec-th button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}

.sec-f button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}

.sec-two button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}

.sec-three button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}

.sec-four button {
    width: 220px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orange;
    position: relative;
    right: 40px;
    margin-left: 75px;
}