
.left h2 {
    color: white;
    font-size: 28px;
    margin-left: 100px;
    padding-top: 50px;
    letter-spacing: 2px;
}

.left p {
    color: white;
    margin-left: 100px;
    padding-top: 20px;
    font-size: 18px;
}

.left span {
    position: relative;
    top: 50px;
    color: white;
    right: 200px;
}

.left b {
    color: orange;
    padding-left: 40px;
}