.second > .logo {
    margin-left: 80px;
    margin-top: 50px;
}

.second {
    display: flex;
    margin: 0 auto;
    width: 151  0px;
}

button {
    width: 300px;
    height: 38px;
    margin-top: 50px;
    margin-left: 140px;
}

button a {
    color: darkgrey;
    text-decoration: none;
    padding-right: 180px;
}

.locat > p  {
    margin-left: 150px;
    font-size: 18px;
    margin-top: -25px;
}

.locat > img {
    margin-left: 120px;
    margin-top: 55px;   
}

.call {
    margin-top: 50px;
    margin-left: 70px;
}

.call > p {
    color: orange;
}

.img {
    margin-top: 45px;
    margin-left: 100px;
}

.cash {
    margin-top: 50px;
    margin-left: 20px;
}

.cash > p {
    color: orange;
}