.study {
    display: flex;
    gap: 950px;
    margin-left: 130px;
    margin-top: -400px;
}

.study h2 {
    font-weight: bold;   
}

.study p {
    color: rgb(162, 162, 162);
}

.study p b {
    color: orange;
}